<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509056130699-fouirlksccp5dapcm4v684d1l3p7khfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509056130699-fouirlksccp5dapcm4v684d1l3p7khfk</string>
	<key>API_KEY</key>
	<string>AIzaSyD-sDrGY7a7EsJkURHLZGk_IRoRtX24G20</string>
	<key>GCM_SENDER_ID</key>
	<string>509056130699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reactnativecore</string>
	<key>PROJECT_ID</key>
	<string>spa-management-86164</string>
	<key>STORAGE_BUCKET</key>
	<string>spa-management-86164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509056130699:ios:201e929d1c978f237b3e8e</string>
</dict>
</plist>